<div>
  <label for="Name">Name:</label>
  <input id="Name" [(ngModel)]="name"/>
  <br><br>
  <label for="email">Email:</label>
  <input type="email" id="email" [(ngModel)]="email"/>
  <br><br>
  <label for="pass">Password:</label>
  <input type="password" id="pass" [(ngModel)]="password"/>
  <br><br>
  
  <label for="co">Country:</label>
  <input id="co" [(ngModel)]="country"/>
  <br><br>
  <label for="city">City:</label>
  <input id="city" [(ngModel)]="city"/>
  <br><br>
  
  <button (click)="displaydata()">show details</button>
  <div [hidden]="isTextdisplay1" [ngStyle]="myStyle">
  
  <h2>Welcome</h2>
  {{name}}
  <br>
  {{email}}
  <br>
  {{password}}
  <br>
  {{city}}
  <br>
  {{country}}
  <br>
  </div>
  
  
  </div>
  
  
  
 
  
  <h2>View 3 input boxs</h2>
  <br>
  <button (click)="displayInputBox()">Click Here</button>
  <br><br>
  <input type="text" [hidden]="isTextdisplay2">
  <br><br>
  <input type="text" [hidden]="isTextdisplay2">
  <br><br>
  <input type="text" [hidden]="isTextdisplay2">


  <h2>Radio</h2>
  
  <input type="radio" (click)="displayText($event)">click on button
  <p [hidden]="isTextdisplay">Welocome </p>